


   .wrapper{
      overflow:hidden;
   }
   .header{
      position: fixed;
      top:0;
      left:0;
      width: 100%;
      padding: 20px 0;
      z-index: 50;
      background-color: rgba(146, 112, 100, 0.795);
   }
   .header__container {
      display: flex;
      align-items: center;
      gap:60px;
      padding: 20px 15px 20px 15px;

   }
   .header__logo {
   }
   .logo {
   }
   .logo__img {
   }
   .header__menu {
      flex-grow: 1;
   }
   .menu {
   }
   .menu__list {
      display: flex;
      column-gap:40px;
      row-gap: 5px;
      flex-wrap: wrap;
   }
   .menu__item {
   }
   .menu__link {
      font-family: "Lato";
      font-weight: 700;
font-size: 16px;
line-height: 160%;
color: #424551;

   }
   .menu__link:hover{
      text-decoration: underline;
   }


   .header__actions {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      gap:36px;
      flex-wrap: wrap;
   }
   .actions-header {
   }
   .actions-header__button {
      padding:16px 40px ;
   }
   
   .actions-header__auth {
      color: #424551;
      background: url("../img/icons/Profile.png") left no-repeat;
      padding-left: 24px;
   }
   .actions-header__auth:hover span{
      text-decoration: underline;
   }
   

   .main-block {
      padding: 200px 0px 80px 0px ;
      background: rgba(255, 63, 58, 0.2);
      position: relative;
   }
   .main-block__container {
      position: relative;
      z-index: 2;
   }
   .main-block__body {
      margin-bottom: 190px;
   }
   
   .main-block__advantages {
   }

   .body-main {
      display: flex;
      gap: 148px;
      flex-wrap: wrap;
   }
   .body-main__media {
      flex:0 1 48%;
      position: relative;
   }
   .body-main__image{
      max-width: 100%;
        
      }
      
   .body-main__play {
font-weight: 700;
font-size: 14px;
line-height: 150%;
color: #1E212C;
display: inline-flex;
align-items: center;
position: relative;
gap: 16px;
   }
   .body-main__play::after{
      content: "";
      position: absolute;
      top:0;
      left:0;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      background:rgba(255, 63, 58, 0.12);
      transform:scale(1.6);
      animation: play-circle 1s infinite ease alternate;
   }
   .body-main__play::before{
      content: "";
      flex: 0 0 52px;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      background:rgba(255, 63, 58, 1) url("../img/main/Polygon.svg") center no-repeat;
   }
 @keyframes play-circle{
   0%{
      transform:scale(1.6);
   }
   100%{
      transform:scale(1.8);
   }
 }
 .body-main__play:not(:last-child){
margin-bottom: 40px;
 }
   .body-main__title {
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 130%;
color: #1E212C;
   }
   .body-main__title:not(:last-child){
      margin-bottom: 60px;
       }
   .body-main__action {
      display: flex;
      align-items: center;
      gap: 24px;
   }
   .body-main__button {
      padding:16px 40px ;
   }
  .body-main__content{
   
   flex:1 1 40%;
  
   align-self: center;
  }
   
  
   
   .advantages-main {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      align-items: center;
   }
   .advantages-main__item {
     
   }
   .item-advantages {
      display: flex;
      align-items: center;
      gap:12px;
      flex-wrap: wrap;
   }
 
   .item-advantages__circle{
      background:rgba(255, 63, 58, 1) ;
      flex: 0 0 8px;
      border-radius: 50%;
      width: 8px;
      height: 8px;
   }
   .item-advantages__value {
      font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
color: #1E212C;
   }
   .item-advantages__text {
      font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #1E212C
   }

   .main-block__decor {
   }
   .decor-main {
      position: absolute;
      width: 100%;
      height: 100%;
      top:0;
      left:0;
   }
   .decor-main__item {
      position: absolute;
   }
   .decor-main__item_1 {
      background: url("../img/main/decor/shapes.svg") 0 0 no-repeat;
      width: 96px;
      height: 96px;
      top:12%;
      left:4.2%;
   }

   .decor-main__item_2 {
      background: url("../img/main/decor/circles.svg") 0 0 no-repeat;
      width: 284px;
      height: 284px;
      bottom:-9.2%;
      left:-5.5%;

   }
   .decor-main__item_3 {
      background: url("../img/main/decor/shapes2.svg") 0 0 no-repeat;
      width: 88px;
      height: 47px;
      top:40%;
      left:39%;
   }
   .decor-main__item_4 {
      background: url("../img/main/decor/Vector.svg") 0 0 no-repeat;
      width: 61px;
      height: 61px;
      top:60.9%;
      left:38.1%;
   }
   .decor-main__item_5 {
      background: url("../img/main/decor/shapes.svg") 0 0 no-repeat;
      width: 96px;
      height: 96px;
      top:-3.7%;
      right: 4%;
      transform: rotate(135deg);
   }

   .decor-main__item_6 {
      background: url("../img/main/decor/dots.svg") 0 0 no-repeat;
      width: 187px;
      height: 137px;
      bottom:17.9%;
      right: -4%;
     
   }
   .who-we-are{
      position: relative;
   }
   .who-we-are__container {
      padding: 180px 0px 90px 0px ; 
      display: flex;
      flex-wrap: wrap;
      position: relative;
   }
   .who-we-are__image-container {
      flex:1 1 57%;
      position: relative;
   }
   .who-we-are__image {
     
     max-width: 100%;
     
   }
   .who-we-are__content {
      flex: 0 0 43%;
      z-index: 2;
      
   }
   .who-we-are__title {
      width: 390px;
      margin-left: 135px;
   }
   
     .who-we-are__list {
      margin-bottom: 48px;
      max-width: 390px;
   }
   .list-sign {
      max-width: 390px;
      
   }
   .list-sign__item {
     display: flex;
     flex-direction:column ;
     gap: 12px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #424551;
position: relative;
padding-left: 32px;

   }
   .list-sign__item::before{
      
      display: block;
      content:"";
      visibility: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 5px;
    left: 0;
    transition: all 0.2s ease 0s;
         background: url("../img/who-we-are/decor/check.svg")  0 0 / 16px no-repeat;
   }
   .list-sign__item:not(:last-child){
      margin-bottom: 12px;
   }
   .who-we-are__button {
      padding:16px 40px ;
   }
   .decor__item {
      z-index: 2;
        position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
   }
   .decor__item_1 {
            top:9%;
      left:-4.7%;
      width: 221px;
      height: 96px;
      background: url("../img/who-we-are/decor/dots.svg") 0 0 no-repeat;
     transform: rotate(90deg);
   }

   .decor__item_2 {
      top:48%;
      left:93%;
      width: 287px;
      height: 287px;
      background: url("../img/who-we-are/decor/circles.svg") 0 0 no-repeat;
       }
       .questions{
         padding: 90px 0px 90px 0px ; 
       }
       .questions__container {
         
      display: flex;
      column-gap: 105px;
     
      }
      .questions__image-container {
        
         flex: 1 1 34.3%;
       align-self: center;
      }
      
      .questions__content {
         flex: 0 0 52%;
         display: flex;
         padding: 0px;
         
      }
      .questions__title {
         width: 100%;
         margin-left: 0;
      }
    
      .questions__button {
         width: 340px;
         display: inline-block;
         position: relative;
         cursor:pointer;
         align-items: center;
      }     
      .questions__button span{
         padding: 0px 77px;
        font-weight: 700;
font-size: 16px;
line-height: 325%;
align-items: center;
text-align: center;
letter-spacing: 0.5px;
color: #FFFFFF;
      }
      .form__row{
         display: flex;
         gap: 25px;
      }
      .form__line {
         flex:1 1 56.7%;
      }
      .form__line:not(:last-child){
         margin-bottom: 24px;
      }
      .form__label {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
      }
      .form__label:not(:last-child){
         display: inline-block;
         margin-bottom: 8px;
      }
      .form__input {
         padding: 13px 16px;
         color: #7A956B;
         width: 340px;
         height: 52px;
         border: 1px solid #D7DADD;
border-radius: 4px;
      }
      .form__input::placeholder{
         font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #9A9CA5;
      }
      .form__textarea{
         padding: 13px 16px;
         Width:705px;
         Height:128px;
         border: 1px solid #D7DADD;
border-radius: 4px;
font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
   margin-bottom: 48px;
      }
      .form__textarea::placeholder {
         font-family: "Lato"; 
font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   color: #9A9CA5;
      }
      .form__textarea:not(:last-child){
        display: block;
         margin-bottom: 48px;
      }
      .checkbox{
       position: relative;
      }
      .checkbox__input {
         width: 315px;
         position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
      }
      .checkbox__label {
         cursor: pointer;
       display: inline-flex;
       align-items: center;
       gap: 12px;

      }
      input[type="checkbox"] {
         display: none;
       }
      .checkbox__text {
         font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #424551;
align-self: center;
}
.checkbox__label::before {
         content: "";
         flex: 0 0 16px;
         width: 16px;
         height: 16px;
         border-radius: 3px;
         transform: translate(0, -70%);
         background: rgb(255 63 58);
      }
.checkbox__input:checked + .checkbox__label::before {
         background: rgb(255 63 58) url('../img/questions/check.svg') center/ 70% no-repeat;
 }
      .form__title{
         font-style: normal;
         font-weight: 700;
         font-size: 16px;
         line-height: 150%;
         letter-spacing: 1px;
         text-transform: uppercase;
         color: #1E212C;
      }
      .form__title:not(:last-child){
         margin-bottom: 8px;}
         input[type="radio"] {
            display: none;
          }
      .form__radio {
      }
      .radio {
      }
      .radio__input {
      }
      .radio__label {
         font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #424551;
align-self: center;
   cursor: pointer;
   display: inline-flex;
   align-items: center;
   gap: 12px;
   position: relative;
      }
      .radio__label:not(:last-child){
         margin-bottom: 48px;}
         .radio__label::before{
               content: '';
               align-self: flex-start;
               transform: translate(0, 35%);
               flex: 0 0 16px;
               width: 16px;
               height: 16px;
               border-radius: 50%;
               background-color: rgb(255 63 58);
           }
           
        .radio__input:checked + .radio__label::before {
         background: white;/*url('../img/questions/check.svg') center/ 70% no-repeat;*/
      outline: 2px solid rgb(255 63 58) ;
      }
      .feature__container {
         padding: 90px 0px 90px 0px ; 
      }
      .feature__top {
         display: flex;
        flex-direction: row;
        padding-bottom: 60px;
      }
      .feature__title {
         flex:0 0 50%;
        
         text-align: start;
         margin-left: 0;
      }
      .feature__button {
         flex:0 0 50%;
         text-align: end;
         align-self: flex-end;
      
      }
      .feature__content {
         display: flex;
         flex-wrap: wrap;
      }
      .feature__cards{
         display: flex;
         flex-wrap: wrap;
         flex: 0 0 auto;
         row-gap:32px;
         column-gap: 32px;
        
        
      }
      .feature__card {
         flex: 0 1 40%;
       max-width: 50%;
         min-width: 600px;
      }


      .card {
         display: flex;
         
         border: 1px solid rgba(229, 232, 237, 1) ;
        /* box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);*/
        border: 1px solid #E5E8ED;
/* shadow/regular */

box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
border-radius: 4px;
         
              }
      .card__image-container {
         flex: 0 0 35.6%;
         position: relative;
         min-height: 214px;
      }
      .card__image {
         height: 100%;
         width: 100%;
         object-fit: cover;
         position: absolute;
         top:0;
         left:0;

      }
      .card__content {
         flex: 1 1 48.5%;
         align-items: center;
         padding: 32px 32px 62px 32px;
      }
      .card__profile:not(:last-child){
         padding-bottom: 20px;
      }
      .card__profile {
         font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #FFFFFF;
max-width: 112px;
height: 23px;
text-align: center;
border-radius: 4px;
align-items: center;
padding: 1px 8px;

      }
      .card__profile_green{
         background-color: #03CEA4; ;
      }
      .card__profile_blue{
         background-color: blue;
      }
      .card__profile_orange{
         background-color: #F75E05;
      }
      .card__profile_pink{
         background-color: rgb(231, 29, 63);
      }
      .card__profile:not(:last-child){
         margin-bottom: 20px;
      }
    
      .card__title {
         font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150%;
color: #1E212C;

      }
      .card__title:not(:last-child){
         margin-bottom: 20px;
      }   
      .card__prices {
      }
      .card__price {
        font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
color: #FF4242;
position: relative;
margin-right: 16px;
      }
      .card__price::after {
         content:"";
         width: 1px;
         height: 16px;
         background-color:rgba(120, 122, 128, 1);
         position: absolute;
         top: 3px;
         left:50px;
      }
      .card__name {
         font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #787A80;
      }   
       